/* Navtab cursor as pointer */
a.nav-link {
    cursor: pointer;
}

/* Fix transparent background of edit list */
.tabulator-edit-list .tabulator-edit-list-item {
    background-color: white;
}

/* Fix transparent background of edit list */
.tabulator-edit-list .tabulator-edit-list-item:hover,
.tabulator-edit-list .tabulator-edit-list-item.active {
    color: white;
}

/* Fix transparent background of tooltip */
.tabulator-tooltip {
    background-color: black;
    color: white;
}

/* Horizontal line */
.fhc-hr {
    padding: 25px 0px 20px 0px;
    margin-bottom: 30px;
    border-bottom: solid 1px #eee;
}

/* Subtitle. Use it in span within main title. */
.fhc-subtitle {
    --bs-text-opacity: 1;
    color: #6c757d!important;
    font-size: .65em;
    font-weight: normal;
    padding-left: 20px;
}

/* Fix disorder of datepicker icons when a field-validation-message is shown below the datepicker field */
.dp__input_wrap svg.dp__input_icons {
    transform: unset;
    top: 5%;
}

